In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Horasan,TR,2021-10-31 20:41:29,40.0458,42.1728,46.78,89,100,2.93
1,1,Rikitea,PF,2021-10-31 20:41:30,-23.1203,-134.9692,73.51,87,71,8.10
2,2,Puerto Ayora,EC,2021-10-31 20:41:30,-0.7393,-90.3518,72.32,79,40,8.43
3,3,Ushuaia,AR,2021-10-31 20:37:15,-54.8000,-68.3000,58.66,36,0,3.44
4,4,Berwick,US,2021-10-31 20:39:32,41.0545,-76.2333,60.78,78,64,3.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of % cloudinesss
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Suez,EG,2021-10-31 20:41:31,29.9737,32.5263,75.52,48,66,1.50
7,7,Bontang,ID,2021-10-31 20:41:31,0.1333,117.5000,78.91,87,100,7.99
13,13,Lazaro Cardenas,MX,2021-10-31 20:41:32,17.9583,-102.2000,83.62,70,100,7.38
20,20,Port Blair,IN,2021-10-31 20:38:27,11.6667,92.7500,80.06,81,84,1.28
24,24,Puerto Escondido,MX,2021-10-31 20:41:35,15.8500,-97.0667,83.44,74,48,5.48
25,25,Tamiahua,MX,2021-10-31 20:41:36,21.2667,-97.4500,81.79,64,88,12.19
26,26,Caravelas,BR,2021-10-31 20:41:36,-17.7125,-39.2481,75.61,80,91,8.50
29,29,Butaritari,KI,2021-10-31 20:41:37,3.0707,172.7902,81.36,77,40,9.86
38,38,La Primavera,CO,2021-10-31 20:41:39,5.4906,-70.4092,75.85,91,100,3.53
47,47,Barahona,DO,2021-10-31 20:41:42,18.2085,-71.1008,87.62,66,20,13.80

In [17]:
preferred_cities_df.count()

City_ID       145
City          145
Country       144
Date          145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
6               Suez      EG     75.52  29.9737   32.5263
7            Bontang      ID     78.91   0.1333  117.5000
13   Lazaro Cardenas      MX     83.62  17.9583 -102.2000
20        Port Blair      IN     80.06  11.6667   92.7500
24  Puerto Escondido      MX     83.44  15.8500  -97.0667
25          Tamiahua      MX     81.79  21.2667  -97.4500
26         Caravelas      BR     75.61 -17.7125  -39.2481
29        Butaritari      KI     81.36   3.0707  172.7902
38      La Primavera      CO     75.85   5.4906  -70.4092
47          Barahona      DO     87.62  18.2085  -71.1008

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [26]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Suez,EG,75.52,29.9737,32.5263,Green House
7,Bontang,ID,78.91,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
13,Lazaro Cardenas,MX,83.62,17.9583,-102.2000,quinta antigua
20,Port Blair,IN,80.06,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
24,Puerto Escondido,MX,83.44,15.8500,-97.0667,Aldea del Bazar Hotel and Spa

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))